<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Josefin+Sans|Sarala" rel="stylesheet">

    <title>Just Resume- A free resume building tool</title>
    <!-- Vue Js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <!-- html to pdf cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    
    <!-- files required by star rating -->
    <link href="star/star-rating.css" rel="stylesheet">

    <style>
        h4 {
            color: #03a9f4;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .star-rating,.star-rating2,.star-rating3 {
        line-height:32px;
        font-size:1.25em;
        }

        .star-rating .fa-star{color: rgb(7, 7, 7);}
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <span style="font-family:'Sarala', sans-serif;color:#007bff">Just</span>
                    <span style="font-family:'Sarala', sans-serif;font-weight:bold">Resume</span>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#home">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#features">Features</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#themes">Themes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#contact">Contact</a>
                        </li>
                        <a href="javascript:genPDF()">
                            <button type="button" class="btn btn-success">Download</button>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container" id="vue-app">
                <div class="row">
                    <div class="col-4">
                        <nav>
                            <div class="row nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal"
                                    aria-selected="true">Personal</a>
                                <a class="nav-item nav-link" id="nav-objective-tab" data-toggle="tab" href="#nav-objective" role="tab" aria-controls="nav-objective"
                                    aria-selected="false">Objective</a>
                                <a class="nav-item nav-link" id="nav-educational-tab" data-toggle="tab" href="#nav-educational" role="tab" aria-controls="nav-educational"
                                    aria-selected="false">Education</a>
                                <a class="nav-item nav-link" id="nav-achievement-tab" data-toggle="tab" href="#nav-achievement" role="tab" aria-controls="nav-achievement"
                                    aria-selected="false">Achievements</a>
                                <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience"
                                    aria-selected="false">Work Experience</a>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Name" v-model="name" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Designation" v-model="designation" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Address" v-model="address" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Phone No." v-model="phone" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Email Id" v-model="email" />
                                </div>
                                <label for="dob">Date of Birth</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="dob" v-model="date" />
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-objective" role="tabpanel" aria-labelledby="nav-objective-tab">
                                <div class="row input-group">
                                    <textarea class="form-control" rows="4" placeholder="Short description of yourself" v-model="objective" aria-label="With textarea"></textarea>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-educational" role="tabpanel" aria-labelledby="nav-educational-tab">
                                <h4>School</h4>
                                <label for="sdate">Start Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate" />
                                </div>
                                <label for="edate">End Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="School Name" v-model="schoolname" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Location" v-model="schoolocation" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Percentage" v-model="schoolscore" />
                                </div>

                                <h4>High School</h4>
                                <label for="sdate1">Start Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="sdate1" placeholder="Start Date" v-model="sdate1" />
                                </div>
                                <label for="edate1">End Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="edate1" placeholder="End Date" v-model="edate1" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="High School Name" v-model="hschoolname" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Location" v-model="hschoolocation" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Percentage" v-model="hschoolscore" />
                                </div>
                                <h4>College</h4>
                                <label for="sdate">Start Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate2" />
                                </div>
                                <label for="edate">End Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate2" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="College Name" v-model="collegename" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Location" v-model="collegelocation" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Pointer" v-model="collegescore" />
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-achievement" role="tabpanel" aria-labelledby="nav-achievement-tab">
                                <div class="row input-group">
                                    <textarea class="form-control" rows="3" placeholder="Add Description of yours Acheivements" v-model="ach1" aria-label="With textarea"></textarea>
                                </div>
                                <div class="row input-group">
                                    <textarea class="form-control" rows="3" placeholder="Add Description of yours Acheivements" v-model="ach2" aria-label="With textarea"></textarea>
                                </div>
                                <div class="row input-group">
                                    <textarea class="form-control" rows="3" placeholder="Add Description of yours Acheivements" v-model="ach3" aria-label="With textarea"></textarea>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
                                <h4>Company #1</h4>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Company Name" v-model="companyname1" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Designation" v-model="comdesignation1" />
                                </div>
                                <label for="sdate">Start Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate3" />
                                </div>
                                <label for="edate">End Date</label>
                                <div class="row input-group mb-3">
                                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate3" />
                                </div>
                                <div class="row input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Location" v-model="companylocation1" />
                                </div>
                                <div class="row input-group">
                                    <textarea class="form-control" placeholder="Short description" v-model="cdes1" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 bg-white" id="pdf">
                        <br>
                        <h4>{{ name }}</h4>
                        <span>{{ designation }}</span>
                        <br>
                        <span>Address : {{ address }}</span>
                        <br>
                        <span>Phone Number : {{ phone }}</span>
                        <br>
                        <span>Email : {{ email }}</span>
                        <br>
                        <span>Date Of Birth : {{ date }}</span>
                        <br>

                        <hr>

                        <h4>Objective </h4>
                        <span>{{ objective }}</span>
                        <br>

                        <hr>

                        <h4>Education Qualification </h4>
                        <table>
                            <tr>
                                <th>Qualification</th>
                                <th>Institute</th>
                                <th>Location</th>
                                <th>Score </th>
                                <th>Year</th>
                            </tr>
                            <tr>
                                <td>SSC</td>
                                <td>{{ schoolname }}</td>
                                <td>{{ schoolocation }}</td>
                                <td>{{ schoolscore }}</td>
                                <td>{{ sdate }} - {{ edate }}</td>
                            </tr>
                            <tr>
                                <td>HSC</td>
                                <td>{{ hschoolname }}</td>
                                <td>{{ hschoolocation }}</td>
                                <td>{{ hschoolscore }}</td>
                                <td>{{ sdate1 }} - {{ sdate1 }}</td>
                            </tr>
                            <tr>
                                <td>Degree</td>
                                <td>{{ collegename }}</td>
                                <td>{{ collegelocation }}</td>
                                <td>{{ collegescore }}</td>
                                <td>{{ sdate2 }} - {{ edate2 }}</td>
                            </tr>
                        </table>

                        <hr>
                        <h4>Skills </h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>C : </span>
                                <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <span>JAVA : </span>
                                <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <span>PHP : </span>
                                <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span>DBMS : </span>
                                <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                </div>
                            </div>





                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4> Work Experience </h4>
                                <span><h5>{{ companyname1 }}</h5></b></span>
                                <br>
                                <span>{{ comdesignation1 }} </span>
                                <br>
                                <span> {{ sdate3 }} </span>
                                <br>
                                <span> {{ edate3 }} </span>
                                <br>
                                <span> {{ companylocation1 }} </span>
                                <br>
                                <span> {{ cdes1 }} </span>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="app.js"></script>
    <!-- files required by star rating -->
    <script src="star/star-rating.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        // Star Rating converion script
        var $star_rating = $('.star-rating .fa');

        var SetRatingStar = function () {
            return $star_rating.each(function () {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
            });
        };

        $star_rating.on('click', function () {
            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
            return SetRatingStar();
        });

        SetRatingStar();
        $(document).ready(function () {

        });
        // pdf to Html conversion script
        function genPDF() {
            html2canvas($('#pdf'), {//here we r printing only resume part ie.,pdf
                onrendered: function (canvas) {
                    var img = canvas.toDataURL("image/jpeg");
                    var doc = new jsPDF();
                    doc.addImage(img, 'JPEG', 5, 5);
                    doc.save('resume.pdf');
                }
            });
        }
                    
    </script>
</body>

</html>