<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Josefin+Sans|Sarala" rel="stylesheet">


    <!--  Material Design for Bootstrap fonts and icons https://stackoverflow.com/questions/17293135/download-a-div-in-a-html-page-as-pdf-using-javascript
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    Material Design for Bootstrap CSS
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    -->
	<title>Just Resume- A free resume building tool</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<style>
    h4{
        color:#03a9f4;
    }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><span style="font-family:'Sarala', sans-serif;color:#007bff">Just</span> <span style="font-family:'Sarala', sans-serif;font-weight:bold">Resume</span></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#home">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#features">Features</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html#themes">Themes</a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="index.html#contact">Contact</a>
                        </li>
                        <a href="#"><button type="button" class="btn btn-success">Sign In</button></a>
                    </ul>
                </div>
            </div>
        </nav>  
	
	</header>
	<main>
		<div class="jumbotron jumbotron-fluid">
      <div class="container" id="vue-app">
        
        <div class="row">
          <div class="col-4">
            <nav>
              <div class="row nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">Personal</a>
                <a class="nav-item nav-link" id="nav-objective-tab" data-toggle="tab" href="#nav-objective" role="tab" aria-controls="nav-objective" aria-selected="false">Objective</a>
                <a class="nav-item nav-link" id="nav-educational-tab" data-toggle="tab" href="#nav-educational" role="tab" aria-controls="nav-educational" aria-selected="false">Education</a>
                <a class="nav-item nav-link" id="nav-skill-tab" data-toggle="tab" href="#nav-skill" role="tab" aria-controls="nav-skill" aria-selected="false">Skills</a>
                <a class="nav-item nav-link" id="nav-achievement-tab" data-toggle="tab" href="#nav-achievement" role="tab" aria-controls="nav-achievement" aria-selected="false">Achievements</a>
                <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">Work Experience</a>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                <div class="row input-group mb-3">
                  <input type="text" class="form-control" placeholder="Name" v-model="name"/>                            
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Designation" v-model="designation"/> 
                </div>
                <div class="row input-group mb-3">
                  <input type="text" class="form-control" placeholder="Address" v-model="address"/>                
                </div>
                <div class="row input-group mb-3">
                  <input type="text" class="form-control" placeholder="Phone No." v-model="phone"/> 
                </div>
                <div class="row input-group mb-3">
                  <input type="text" class="form-control" placeholder="Email Id" v-model="email"/> 
                </div>
                <label for="dob">Date of Birth</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="dob" v-model="date"/> 
                </div>
              </div>

              <div class="tab-pane fade" id="nav-objective" role="tabpanel" aria-labelledby="nav-objective-tab">
                <div class="row input-group">
                  <textarea class="form-control" placeholder="Short description of yourself" v-model="objective" aria-label="With textarea"></textarea>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-educational" role="tabpanel" aria-labelledby="nav-educational-tab">
                <h4>School</h4>
                <label for="sdate">Start Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate"/> 
                </div>
                <label for="edate">End Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="School Name" v-model="schoolname"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" v-model="schoolocation"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Percentage" v-model="schoolscore"/> 
                </div>

                <h4>High School</h4>
                <label for="sdate1">Start Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="sdate1" placeholder="Start Date" v-model="sdate1"/> 
                </div>
                <label for="edate1">End Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="edate1" placeholder="End Date" v-model="edate1"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="High School Name" v-model="hschoolname"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" v-model="hschoolocation"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Percentage" v-model="hschoolscore"/> 
                </div>
                <h4>College</h4>
                <label for="sdate">Start Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate2"/> 
                </div>
                <label for="edate">End Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate2"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="College Name" v-model="collegename"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" v-model="collegelocation"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pointer" v-model="collegescore"/> 
                </div>
              </div>


              <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="c" placeholder="C Skills out of 100" v-model="c"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="java" placeholder="Java Skills out of 100" v-model="java"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="htmlcss" placeholder="HTML/CSS Skills out of 100" v-model="htmlcss"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="javascript" placeholder="javaScript Skills out of 100" v-model="js"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="php" placeholder="PHP Skills out of 100" v-model="php"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" id="c" placeholder="Database Skills out of 100" v-model="db"/> 
                </div>
              </div>

              <div class="tab-pane fade" id="nav-achievement" role="tabpanel" aria-labelledby="nav-achievement-tab">
                <div class="row input-group">
                    <textarea class="form-control" placeholder="Add Description of yours Acheivements" v-model="ach1" aria-label="With textarea"></textarea>
                </div>
                <div class="row input-group">
                    <textarea class="form-control" placeholder="Add Description of yours Acheivements" v-model="ach2" aria-label="With textarea"></textarea>
                </div>
                <div class="row input-group">
                    <textarea class="form-control" placeholder="Add Description of yours Acheivements" v-model="ach3" aria-label="With textarea"></textarea>
                  </div>
              </div>

              <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
                <h4>Company #1</h4>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Company Name" v-model="companyname1"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Designation" v-model="comdesignation1"/> 
                </div>
                <label for="sdate">Start Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate3"/> 
                </div>
                <label for="edate">End Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate3"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" v-model="companylocation1"/> 
                </div>
                <div class="row input-group">
                    <textarea class="form-control" placeholder="Short description" v-model="cdes1" aria-label="With textarea"></textarea>
                </div>
                <br>
                <h4>Company #2</h4>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Company Name" v-model="companyname2"/> 
                </div>
                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Designation" v-model="comdesignation2"/> 
                </div>
                <label for="sdate">Start Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="sdate" placeholder="Start Date" v-model="sdate4"/> 
                </div>
                <label for="edate">End Date</label>
                <div class="row input-group mb-3">
                    <input type="date" class="form-control" id="edate" placeholder="End Date" v-model="edate4"/> 
                </div>

                <div class="row input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" v-model="companylocation2"/> 
                </div>
                <div class="row input-group">
                    <textarea class="form-control" placeholder="Short description" v-model="cdes2" aria-label="With textarea"></textarea>
                </div>
              </div>
            </div>
            
          </div>
            
          <div class="col-8 bg-light">
             <br> 
            <h4>{{ name }}</h4> 
            <span>{{ designation }}</span><br>
            <span>Address : {{ address }}</span><br>
            <span>Phone Number : {{ phone }}</span><br>
            <span>Email : {{ email }}</span><br>
            <span>Date Of Birth : {{ date }}</span><br>

            <hr>

            <h4>Objective </h4> <br>
            <span>{{ objective }}</span><br>

            <hr>

            <h4>Education Qualification </h4> <br>
            <table>
                    <tr>
                      <th>Qualification</th>
                      <th>Institute</th>
                      <th>Location</th>
                      <th>Score </th>
                      <th>Year</th>
                    </tr>
                    <tr>
                      <td>SSC</td>
                      <td>{{ schoolname }}</td>
                      <td>{{ schoolocation }}</td>
                      <td>{{ schoolscore  }}</td>
                      <td>{{ sdate }} - {{ edate }}</td>
                    </tr>
                    <tr>
                      <td>HSC</td>
                      <td>{{ hschoolname }}</td>
                      <td>{{ hschoolocation }}</td>
                      <td>{{ hschoolscore  }}</td>
                      <td>{{ sdate1 }} - {{ sdate1 }}</td>
                    </tr>
                    <tr>
                      <td>Degree</td>
                      <td>{{ collegename }}</td>
                      <td>{{ collegelocation }}</td>
                      <td>{{ collegescore  }}</td>
                      <td>{{ sdate2 }} - {{ edate2 }}</td> 
                    </tr>
            </table>

            <hr>
            <h4>Skills </h4> <br>
            
            <div class="row">
                <div class="col-sm-6">
                        <span>C </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <span>Java </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-warning" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <span>HTML/CSS </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-dark" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <span>JavaScript </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <span>PHP </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <span>Databases </span>
                        <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar bg-secondary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
            </div>

          </div>
        </div>
      </div>
      
    </div>

	</main>


	<script type="text/javascript" src="app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>